@media (max-width: 767px) {
	#main .vc_custom_1519725400070 {
    margin-top: 0px !important;
}
	#main .vc_custom_1519749534891 {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
	#main .vc_custom_1519726319888 {
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
	#main .vc_custom_1519719012135 {
    margin-top: 0px !important;
}
}
.bt-upcom .wpb_events_church .post-event-item .layout-default{
margin-left: 0 !important;
box-shadow: none !important;
	margin-bottom:0 !important;
	padding-left:0 !important;
	padding-right:0 !important;
	overflow:hidden;
}
.bt-upcom .wpb_theme_custom_element.wpb_events_church .post-event-item .item-inner.layout-default .event-featured-image-wrap img{
	width:auto !important;
	height:100px;
}
.bt-upcom .wpb_theme_custom_element.wpb_events_church .post-event-item .item-inner.layout-default .event-featured-image-wrap{
	 left: 0;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
#page .bt-upcom .wpb_theme_custom_element.wpb_events_church .post-event-item .item-inner.layout-default .church-event-content {
    width: calc(100% - 100px);
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
}
#page .bt-upcom .wpb_theme_custom_element.wpb_events_church .post-event-item .item-inner.layout-default .church-event-content .content-entry{
    padding-right: 20px;
    padding-left: 20px;
}
#page .bt-upcom .wpb_theme_custom_element.wpb_events_church .post-event-item .item-inner.layout-default .church-event-content .content-entry .title-link .title{
    font-size:16px !important;
	line-height:22px;
	margin-bottom:0;
	margin-top:3px;
}
#page .bt-upcom .wpb_theme_custom_element.wpb_events_church .post-event-item .item-inner.layout-default .event-featured-image-wrap {
    left: 0;
    width: 100px;
}
.pop-light strong{
	font-weight:100;
	color:#63b6d1;
}
#page .bt-upcom .wpb_theme_custom_element.wpb_events_church .post-event-item .item-inner.layout-default .church-event-content .readmore-link{
	border-radius: 30px;
    margin-top: 20px;
}
.bt-about-link .entry-box-wrap strong{
	  display: block;
    font-weight: 600;
}
#page .bt-about-link .wpb_theme_custom_element.wpb_featured_box .vc-custom-inner-wrap .featured-box-alignment .entry-box-wrap .featured-button{
		margin-top: 0px;
    font-weight: 400;
    border-bottom: 0;
    font-size: 16px;
}
#page .bt-about-link .wpb_theme_custom_element.wpb_featured_box .vc-custom-inner-wrap .featured-box-alignment .entry-box-wrap .featured-box-title{
	margin-bottom:0;
	    line-height: 23px;
}
.bt-about-link{
	    margin-top: -100px;
}
.custom-message-church .message-wrap{
	font-size: 26px;
    line-height: 1.64;
    letter-spacing: -0.6px;
    text-align: center;
    color: #222222;
}
.custom-message-church .info-wrap .name{
	font-size: 22px;
    font-weight: 600;
    line-height: 1.09;
    letter-spacing: -1px;
    color: #222222;
    font-family: 'Poppins';
    margin-top: 25px;
}
.custom-message-church .info-wrap{
	text-align: center;
}
.custom-message-church .info-wrap .sub{
	font-size: 17px;
    letter-spacing: -1px;
    color: #63b6d1;
    font-family: 'Poppins';
}
.event-church2 .layout-default .event-featured-image-wrap,.event-church2 .layout-default .church-event-content .readmore-link{
	display:none !important;
}
.event-church2 .layout-default .church-event-content {
    width: 100% !important;
    margin-left: 0 !important;
	    max-width: 600px;
    text-align: left;
}
.event-church2 .layout-default {
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    background-color: transparent !important;
	text-align: center;
}
.event-church2 .layout-default .church-event-content .content-entry .title-link .title,.event-church2 .layout-default .church-event-content .event-start-date .date-entry .date-entry-inner .d-d{
	color:#fff !important;
	text-transform: none !important;
}
.event-church2 .layout-default .church-event-content .content-entry {
	width:80%!important;
}
.bt-but-church2 > button{
	font-size: 13px !important;
    padding: 17px 40px !important;
    text-transform: uppercase;
    font-weight: 700;
}
.bt-upcom,.bt-about-link .wpb_theme_custom_element{
	box-shadow: 0 0 24.5px 0 rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 480px){
	#page .bt-upcom .wpb_theme_custom_element.wpb_events_church .post-event-item .item-inner.layout-default .church-event-content .event-start-date{
    display: none;
}
	#page .bt-upcom .wpb_theme_custom_element.wpb_events_church .post-event-item .item-inner.layout-default .church-event-content .content-entry{
    width:100%;
		padding: 0 !important;
}
}
@media only screen and (max-width: 992px){
#page .bt-upcom .wpb_theme_custom_element.wpb_events_church .post-event-item .item-inner.layout-default .event-featured-image-wrap {
    display: none;
}
	#page .bt-upcom .wpb_theme_custom_element.wpb_events_church .post-event-item .item-inner.layout-default .church-event-content {
    width: 100%;
		padding-bottom:30px;
}
	#page .wpb_theme_custom_element.wpb_events_church .post-event-item .item-inner.layout-default{
		padding:5px !important
	}
	#page .pcc,#page .pcc .vc_column-inner{
		margin-top:0 !important;
		padding-top: 0 !important;
	}
	.bt-upcom.pcc{
		margin-left:0 !important;
		margin-right:0 !important;
		padding:5px !important;
	}
	#page .pi-upcom{
		margin-top:50px !important;
	}
	.custom-header-contact-ui .ui-item {
    padding-right: 0px;
	}
	.space-no{
		height:0 !important;
	}
}
@media only screen and (max-width: 992px) and (min-width: 768px){
  .bt-about-link .wpb_featured_box {
      padding-left: 10px !important;
		padding-right:10px !important;
  }
}
.bt-footer-widgets .widget-title {
	font-weight: 500;}
.pi-donate button.give-btn.give-btn-modal {
    line-height: 45px !important;
    padding: 0px 25px !important;
}
img.sticky-logo {
    display: none;
}
.pi-hover figure,.item-skin-post-block-image .post-thumbnail {
	position: relative;
	overflow: hidden;
}
.pi-hover figure::before,.item-skin-post-block-image .post-thumbnail::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.pi-hover figure:hover::before,.item-skin-post-block-image .post-thumbnail:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.comments-template-1 {
    background: #fff;
}
.sweet-overlay{display: none !important;}
.showSweetAlert{display: none !important;}
