/* Widget Facebook */
.fw-widget-facebook {
  li {

    a{
      font-family: $fw-widget-inner-title-font-family;
      font-size: $fw-widget-inner-title-font-size;
      font-weight: normal;
      font-style: $fw-widget-inner-title-font-style;
      line-height: $fw-widget-inner-title-line-height;
      letter-spacing: $fw-widget-inner-title-letter-spacing;
      color: $fw-widget-inner-title-color;

      &:hover{
        color: $fw-widget-inner-title-hover-color;
      }
    }
  }
}
.fw-footer .fw-widget-facebook li {
  border-bottom: 1px solid lighten($fw-footer-widgets-bg, 5%);
}