/* Widget Text */
.yith-woocompare-widget{
  .products-list{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebe9eb;
    li{
      padding: 10px 0 10px 30px !important;
      border-bottom: none !important;
      &.list_empty{
        padding-left: 0 !important;
      }
      .remove{
        // color: #999 !important;
        text-transform: lowercase !important;
        &:hover{
          background: none !important;
          color: #555 !important;
        }
      }
      .title{
        font-family: $fw-widget-inner-title-font-family !important;
        font-size: $fw-widget-inner-title-font-size !important;
        // font-weight: $fw-widget-inner-title-font-weight !important;
        font-style: $fw-widget-inner-title-font-style !important;
        line-height: $fw-widget-inner-title-line-height !important;
        letter-spacing: $fw-widget-inner-title-letter-spacing !important;
        color: $fw-widget-inner-title-color !important;
        text-transform: none !important;
        &:hover{
          color: $fw-widget-inner-title-hover-color;
        }
      }
    }
  }
  .clear-all{}
  a.button{
    background: #8c8c8c none repeat scroll 0 0;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    padding: 10px 24px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    &:hover{
      background: darken(#8c8c8c, 5%);
      color: #FFF;
    }
  }
}
