/* RSS */
.widget_rss{
  ul {
    li{
      &:not(:last-child){
        margin-bottom: 15px;
      }
      .rsswidget {
        font-family: $fw-widget-inner-title-font-family;
        font-size: $fw-widget-inner-title-font-size;
        font-weight: $fw-widget-inner-title-font-weight;
        font-style: $fw-widget-inner-title-font-style;
        line-height: $fw-widget-inner-title-line-height;
        letter-spacing: $fw-widget-inner-title-letter-spacing;
        color: $fw-widget-inner-title-color;
        @include transition(all 0.3s ease);

        &:hover {
          color: $fw-widget-inner-title-hover-color;
        }
      }
      .rssSummary{
        font-size: ceil(($font-size-base * 0.85));
      }
      cite{
        font-size: $fw-widget-font-size;
      }
    }
  }
}
