/* Recent Entries */
.widget_recent_entries{
  ul{
    li{
      a {
        font-family: $fw-widget-inner-title-font-family;
        font-size: $fw-widget-inner-title-font-size;
        font-weight: $fw-widget-inner-title-font-weight;
        font-style: $fw-widget-inner-title-font-style;
        line-height: $fw-widget-inner-title-line-height;
        letter-spacing: $fw-widget-inner-title-letter-spacing;
        color: $accent-color;
        @include transition(all 0.3s ease);

        &:hover {
          color: darken($fw-widget-inner-title-hover-color, 5%);
        }
      }
    }
  }
}

.widget_recent_comments{
  #recentcomments{
    .recentcomments{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      a{
        font-style: italic;
        border-bottom: dotted 1px;
      }
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
  }
}
