/* Widget Flickr */
.flickr_badge_image,
.fw-instagram-wrap li {
  width: 75px;
  height: 75px;
  margin: 0 4px 8px 0;
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  a{
  	display: block;
  }
}
.fw-sidebar {
  .fw-widget-flickr .flickr_badge_image,
  .fw-instagram-wrap li {
    width: 69px;
    height: 69px;
  }
}
.flickr_badge_image img,
.fw-instagram-wrap li img {
  width: 100%;
  height: 100%;
}
